<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="direction:rtl; margin:30px;">

</body>
</html>

<script>
    //let firstNumber = 15;
    //let secondNumber = 20;
    //let sum = firstNumbe + secondNumber;
    //document.write(sum);

    let mobileNumber = "09132450000";
    if (mobileNumber.length == 11)
        document.write(`شماره موبایل ${mobileNumber} اشتباه است`);
    else
        document.write(`شماره موبایل ${mobileNumber} صحیح است`);
</script>