<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
</head>
<body dir="rtl">
    <!--Display text in HTML tag-->
    <!--<div class="row col-md-4 p-4">
        <label id="lblJavascript" style="width: 500px; height:30px;
           background-color:darkblue; color:white">lable</label>
        <input id="txtJavascript" type="text" style="width: 500px; height:30px;
           background-color:darkgreen; color:white; margin-top:10px;"  value="Textbox"/>
        <div id="divJavascript" style="width: 500px; height:30px;
           background-color:darkred; color:white ;margin-top:10px; margin-bottom:10px;">DIV</div>

        <input type="button" class="btn btn-primary" value="نمایش  متن" onclick="showText()">

    </div>-->


    <!--نوشتن بر روی شی document-->
    <!--<div class="row col-md-4 p-4">
        <div class="form-group">
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-primary" value="نمایش  متن در document"
                   onclick="writeOnDocument()">
        </div>
    </div>-->

    <!--نمایش پیام به کاربر با استفاده از دستور alert-->
    <!--<div class="row col-md-4 p-4">
        <div class="form-group">
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-primary" value="Alert" onclick="showAlert()">
        </div>
    </div>-->

    <!--نمایش یک متن در کنسول مرورگر-->
    <div class="row col-md-4 p-4">
        <div class="form-group">
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-primary" value="Console" onclick="writeOnConsole()">
        </div>
    </div>
</body>
</html>


<script>
    function showText() {
        document.getElementById("lblJavascript").innerHTML = "آموزش جاوااسکریپت";
        document.getElementById("txtJavascript").value = "آموزش جاوااسکریپت";
        document.getElementById("divJavascript").innerHTML = "آموزش جاوااسکریپت";
    }

    function writeOnDocument() {
        document.write("آموزش جاوااسکریپت");
    }

    function showAlert() {
        alert("آموزش جاوااسکریپت");
    }

    function writeOnConsole() {
        console.log("آموزش جاوااسکریپت");
    }
</script>


<script>
    function writeOnDocument() {
        document.write("آموزش جاوااسکریپت");
    }
</script>