<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>
<body>
	<div class="row col-md-4 p-4">
		<div class="form-group">
			<label for="bookName">نام کتاب</label>
			<input type="text" class="form-control" id="bookName">
		</div>
		<div class="form-group">
			<input type="button" class="btn btn-primary" id="btnSave" value="ذخیره">
		</div>
	</div>
</body>
</html>