<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

</body>
</html>

<script>
    //// تعریف متغیر رشته ای
    //var yourName = "علی";
    //alert(yourName);

    ////تعریف متغیر عددی
    //var number1 = 20;
    //var number2 = 30;
    //var sum = number1 + number2;
    //alert(sum);

    ////جمع متغیر رشته ای و عددی
    //var number1 = "20";
    //var number2 = 30;
    //var sum = number1 + number2;
    //alert(sum);

    ////تعریف متغیر از نوع Boolean
    //var isActive = false;
    //if (isActive == true)
    //    alert("کاربر فعال است");
    //else
    //    alert("کاربر غیرفعال است");

    ////تعریف متغیر بدون مقدار اولیه
    //var yourlevel;
    //alert(yourlevel);

    //var lessonName = "تعریف متغیر";
    //lessonName = 100;






    ////تعریف متغیر با استفاده از let
    //let yourlevel = "Beginner";
    //document.write(yourlevel + "<br>");

    //let yourlevel = "Intermediate";
    //document.write(yourlevel);


    ////تعریف متغیر با استفاده از let
    //let yourlevel = "Beginner";
    //document.write(yourlevel + "\n");

    //let yourlevel = "Intermediate";
    //document.write(yourlevel);


    ////تعریف متغیر رشته ای
    //let yourName = "علی";
    //alert(yourName);

    ////تعریف متغیر عددی
    //let number1 = 20;
    //let number2 = 30;
    //let sum = number1 + number2;
    //alert(sum);

    ////جمع متغیر رشته ای و عددی
    //let number1 = "20";
    //let number2 = 30;
    //let sum = number1 + number2;
    //alert(sum);

    ////تعریف متغیر از نوع Boolean
    //let isActive = false;
    //if (isActive == true)
    //    alert("کاربر فعال است");
    //else
    //    alert("کاربر غیرفعال است");

    ////تعریف متغیر بدون مقدار اولیه
    //let yourlevel;
    ////alert(yourlevel);


    //function showMessage() {
    //    let message = "داخل فانکشن";
    //    document.write(message);
    //}

    //showMessage();
    //document.write(message);


    ////var Hoisting  
    //yourlevel = "Beginner";
    //var yourlevel = "Intermediate";
    //document.write(yourlevel);


    //var yourlevel;
    //yourlevel = "Beginner";
    //yourlevel = "Intermediate";
    //document.write(yourlevel);


    ////let Hoisting  
    yourlevel = "Beginner";
    let yourlevel = "Intermediate";
    document.write(yourlevel);

</script>