<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    
</body>
</html>
 
<script>
    //// تعریف متغیر رشته ای
    //var yourName = "علی";
    //alert(yourName);

    ////تعریف متغیر عددی
    //var number1 = 20;
    //var number2 = 30;
    //var sum = number1 + number2;
    //alert(sum);

    ////جمع متغیر رشته ای و عددی
    //var number1 = "20";
    //var number2 = 30; 
    //var sum = number1 + number2;
    //alert(sum);
       
    //تعریف متغیر از نوع Boolean
    var isActive = true;
    if (isActive == true)
        alert("کاربر فعال است");
    else
        alert("کاربر غیرفعال است");


</script>