<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>


</head>
<body style="direction:rtl;">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <form style="margin:30px; padding: 10px; border: double 5px;" class="col-md-5">
        <div class="form-group row">
            <label class="col-4">Checkboxes</label>
            <div class="col-8">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input name="chkJavaavascript" id="chkJavaavascript" type="checkbox" class="custom-control-input" value="javascript" onchange="onchangeJavascript()">
                    <label for="chkJavaavascript" class="custom-control-label">Javascript</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input name="chkCsharp" id="chkCsharp" type="checkbox" class="custom-control-input" value="csharp" onchange="onchangeCsharp()">
                    <label for="chkCsharp" class="custom-control-label">Csharp</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input name="chkJquery" id="chkJquery" type="checkbox" class="custom-control-input" value="jquery" onchange="onchangeJquery()">
                    <label for="chkJquery" class="custom-control-label">JQuery</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-4 col-8">
                <input type="button" class="btn btn-primary" onclick="onclickCountSelect()" value="نمایش تعداد انتخاب"/>
            </div>
        </div>
    </form>
</body>
</html>



<script>
    var countSelectedCheckbox = 0;
    function onchangeJavascript() {
        var javascript = document.getElementById("chkJavaavascript");
        if (javascript.checked == true)
            countSelectedCheckbox++;
        else
            countSelectedCheckbox--;
    }

    function onchangeCsharp() {
        var csharp = document.getElementById("chkCsharp");
        if (csharp.checked == true)
            countSelectedCheckbox++;
        else
            countSelectedCheckbox--;
    }

    function onchangeJquery() {
        var jquery = document.getElementById("chkJquery");
        if (jquery.checked == true)
            countSelectedCheckbox++;
        else
            countSelectedCheckbox--;
    }


    function onclickCountSelect() {
        alert(countSelectedCheckbox);
    }

</script>