<br />
<div class="row">
    <div class="form-group">
        <label for="bookName">نام کتاب</label>
        <input type="text" class="form-control" id="bookName" placeholder="نام کتاب">
    </div>
    <div class="form-group">
        <label for="authorName">نام نویسنده</label>
        <input type="text" class="form-control" id="authorName" placeholder="نام نویسنده">
    </div>
    <div class="form-group">
        <label for="translator">مترجم</label>
        <input type="text" class="form-control" id="translator" placeholder="مترجم">
    </div>
    <div class="form-group">
        <label for="pagesNumber">تعداد صفحات</label>
        <input type="number" class="form-control" id="pagesNumber" placeholder="تعداد صفحات">
    </div>
    <div class="form-group">
        <label for="publicationYear">سال انتشار</label>
        <input type="number" class="form-control" id="publicationYear" placeholder="سال انتشار">
    </div>
    <div class="form-group">
        <input type="button" class="btn btn-primary" id="btnSave" value="ذخیره">
    </div>
</div>


<script>
    $("#btnSave").on("click", function () {
        if ($("#bookName").val() && $("#authorName").val()) {

            // ارسال اطلاعات به سرور
            window.location.href = "/Home/SaveData?" +
                "bookName=" + document.getElementById("bookName").value + "&" +
                "authorName=" + document.getElementById("authorName").value + "&" +
                "translator=" + document.getElementById("translator").value + "&" +
                "pagesNumber=" + document.getElementById("pagesNumber").value + "&" +
                "publicationYear=" + document.getElementById("publicationYear").value;

            //alert("اطلاعات با موفقیت ذخیره گردید");

        } else {
            alert("لطفا نام کتاب و نام نویسنده را وارد کنید")
        }
    });
</script>