<br />
<div class="row">
    <div class="form-group">
        <label for="bookName">نام کتاب</label>
        <input type="text" class="form-control" id="bookName" placeholder="نام کتاب">
    </div>
    <div class="form-group">
        <label for="authorName">نام نویسنده</label>
        <input type="text" class="form-control" id="authorName" placeholder="نام نویسنده">
    </div>
    <div class="form-group">
        <label for="translator">مترجم</label>
        <input type="text" class="form-control" id="translator" placeholder="مترجم">
    </div>
    <div class="form-group">
        <label for="pagesNumber">تعداد صفحات</label>
        <input type="number" class="form-control" id="pagesNumber" placeholder="تعداد صفحات">
    </div>
    <div class="form-group">
        <label for="publicationYear">سال انتشار</label>
        <input type="number" class="form-control" id="publicationYear" placeholder="سال انتشار">
    </div>
    <div class="form-group">
        <input type="button" class="btn btn-primary" id="btnSave" value="ذخیره">
    </div>
</div>


<script>
    $("#btnSave").on("click", function () {
        if (document.getElementById("bookName").value != "" &&
            document.getElementById("authorName").value != "") {

            //ذخیره اطلاعات...
            window.location.href = '@Url.Action("SaveData", "Home")?' +
                'bookName=' + document.getElementById("bookName").value + ',' +
                'authorName=' + document.getElementById("authorName").value + ',' +
                'translator=' + document.getElementById("translator").value + ',' +
                'pagesNumber=' + parseInt(document.getElementById("pagesNumber").value) + ',' +
                'publicationYear=' + parseInt(document.getElementById("publicationYear").value);

            alert("اطلاعات با موفقیت ذخیره گردید");

        } else {
            alert("لطفا نام کتاب و نام نویسنده را وارد کنید")
        }
    });
</script>