
<div class="row">
    <div class="form-group">
        <label for="bookName">نام کتاب</label>
        <input type="text" class="form-control" id="bookName" placeholder="نام کتاب">
    </div>
    <div class="form-group">
        <label for="authorName">نام نویسنده</label>
        <input type="text" class="form-control" id="authorName" placeholder="نام نویسنده">
    </div>
    <div class="form-group">
        <label for="translator">مترجم</label>
        <input type="text" class="form-control" id="translator" placeholder="مترجم">
    </div>
    <div class="form-group">
        <label for="PagesNumber">تعداد صفحات</label>
        <input type="number" class="form-control" id="PagesNumber" placeholder="تعداد صفحات">
    </div>
    <div class="form-group">
        <label for="PublicationYear">سال انتشار</label>
        <input type="number" class="form-control" id="PublicationYear" placeholder="سال انتشار">
    </div>
</div>